.side-panel {
  background: $primary-color;
  width: 21vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-shape--container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 100%;

    .add-shape--icon {
      font-size: 3.5rem;
      color: #fff;
      opacity: 0.8;
      padding: 0.5rem;
      box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.6);

      &:hover {
        cursor: pointer;
        box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.6);
      }
    }
  }
}
